.caja {

  text-align: center;
  padding: 10px;
}

.caja__hija {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: white;
  margin: 10px;
  border-radius: 0.5em;



}

@mixin shadow($profundidad) {
  box-shadow: $profundidad;
}
$mapa:(
    0: 0 1px 3px red,
    1: 0 4px 6px red,
    2: 0 5px 15px red,
    3: 0 10px 24px red,
    4: 0 15px 35px red,
);

@for $i from 0 to 5 {
  .g--shadow-#{$i} {
    @include shadow(map-get($mapa,$i));
  }
}