.padre{
    background-color: aqua;
}
.cubo{
    background-color: red;
    height: 200px;
    width: 200px;
    padding: 50px;

    border: 30px solid black;
    margin: 100px;
    box-sizing: border-box;
}