@for $i from 1 to 13 {

  .g--margin-#{$i} {
    margin: #{$i*3}px;
  }
}

@for $i from 1 to 12 {

  .g--margin-top-#{$i} {
    margin-top: #{$i*3}px;
  }
}

@for $i from 1 to 12 {

  .g--margin-bottom-#{$i} {
    margin-bottom: #{$i*3}px;
  }
}

@for $i from 1 to 12 {

  .g--margin-left-#{$i} {
    margin-left: #{$i*3}px;
  }
}

@for $i from 1 to 12 {

  .g--margin-right#{$i} {
    margin-right: #{$i*3}px;
  }
}