@media (min-width:1124px) {
    .g-tamano-l{
        font-size: 22px;
    }
}

@media (min-width:768px) {
    .g-tamano-m{
        width: 50%;
        font-size: 16px;
    }
}

@media (min-width:500px) {
   
    .g-tamano-s{
        font-size: 12px;
           
    }

}